body {
    padding-top: 70px;
}

#calendar {
    max-width: 1000px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.status {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 10px;
}

.navbar {
    background-color: #367fa9;
    ;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #eee;
}